<aside>

  <div class="brand">
    ECO <span>CONTROL</span>
  </div>


  <nav>

    <ng-container
      *ngFor="let l of links"
    >

      <a
        *ngIf="canShow(l)"
        [routerLink]="l.to"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: l.to === '/'
        }"
      >
        <b>
          {{ l.icon }}
        </b>

        {{ l.label }}
      </a>

    </ng-container>

  </nav>


  <div class="foot">

    <div>

      <strong>
        {{
          auth.user?.full_name ||
          auth.user?.email
        }}
      </strong>

      <small>
        {{
          auth.isAdmin
            ? 'ADMIN'
            : 'ANALISTA'
        }}
      </small>

    </div>


    <button
      type="button"
      (click)="logout()"
    >
      ↪
    </button>

  </div>

</aside>