<div class="delay">

  <div
    class="col"
    *ngFor="
      let d of data;
      let i = index
    "
    (mouseenter)="
      showTooltip(
        $event,
        d
      )
    "
    (mousemove)="
      moveTooltip($event)
    "
    (mouseleave)="
      hideTooltip()
    "
  >

    <div class="bar-space">

      <div
        class="bar"
        [style.height.%]="
          d.value
          /
          max
          *
          100
        "
        [style.background]="
          colors[
            i % colors.length
          ]
        "
      ></div>

    </div>


    <span>
      {{ d.name }}
    </span>

  </div>


  <div
    *ngIf="tooltipVisible"
    class="chart-tooltip"
    [style.left.px]="tooltipX"
    [style.top.px]="tooltipY"
  >

    <strong>
      {{ tooltipName }}
    </strong>

    <span>
      value : {{ tooltipValue }}
    </span>

  </div>

</div>